@model DDS.Web.ViewModels.Shared.DisplayDiplomaViewModel
@using DDS.Web.Helpers;
@{
    ViewBag.Title = "Детайли";
}

<h3>Детайли на дипломната работа</h3>

@if (this.TempData["selected"] != null)
{
    <div class="row">
        @Html.Alert("", this.TempData["selected"].ToString(), AlertType.Warning)
    </div>
}

@if (this.TempData["DiplomaIsSelected"] != null)
{
    <div class="row">
        @Html.Alert("", this.TempData["DiplomaIsSelected"].ToString(), AlertType.Danger)
    </div>
}

@using (Html.BeginForm("Select", "Home", new
{
    id = Model.Id
}, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>

        <dd>
            @Html.ActionLink(Model.TeacherName, "TeacherDetails", "Home", new { id = Model.TeacherID }, new { @class = "btn-link" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContentCSV)
        </dt>
        <dd>
            <ol>
                @foreach (var item in Model.ContentCSV)
                {
                    <li>@item</li>
                }
            </ol>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExperimentalPart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExperimentalPart)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        @if (Model.ModifiedOn != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>
        }
        @if (Model.IsDeleted)
        {
            <dt>
                @Html.DisplayNameFor(model => model.DeletedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeletedOn)
            </dd>
        }

        @if (Model.IsApprovedByLeader)
        {
            <dt>
                @Html.DisplayNameFor(model => model.IsApprovedByLeader)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsApprovedByLeader)
            </dd>
        }
        @if (Model.IsApprovedByLeader)
        {
            <dt>
                @Html.DisplayNameFor(model => model.IsApprovedByLeader)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsApprovedByLeader)
            </dd>
        }

        <dt></dt>
        <dd>
            @if (this.TempData["DiplomaIsSelected"] == null)
            {
                <input type="submit" value="Избери" class="btn btn-primary" />
            }

            @* @Html.ActionLink("Избери", "Select", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" }) *@
            @Html.ActionLink("Обратно", "Diplomas", null, htmlAttributes: new { @class = "btn btn-default" })
        </dd>

    </dl>
}