@model DDS.Web.ViewModels.Shared.DisplayDiplomaViewModel
@using DDS.Web.Helpers;
@{
    ViewBag.Title = "Детайли";
}

<h3>Детайли на дипломната работа</h3>

@*@if (this.TempData["DiplomaIsSelectedSuccesfully"] != null)
    {
        <div class="row">
            @Html.Alert("", this.TempData["DiplomaIsSelectedSuccesfully"].ToString(), AlertType.Warning)
        </div>
    }*@

@if (this.TempData["UpdateProfile"] != null)
{
    <div class="row">
        @Html.Alert("", this.TempData["UpdateProfile"].ToString(), AlertType.Danger)
    </div>
}

@if (this.TempData["DiplomaIsSelected"] != null && this.TempData["IsOwnDiploma"] == null)
{
    <div class="row">
        @Html.Alert("", this.TempData["DiplomaIsSelected"].ToString(), AlertType.Danger)
    </div>
}

@using (Html.BeginForm("Select", "Home", new { id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>

        <dd>
            @Html.ActionLink(Model.TeacherName, "TeacherDetails", "Home", new { id = Model.TeacherID }, new { @class = "btn-link" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContentCSV)
        </dt>
        <dd>
            <ol>
                @foreach (var item in Model.ContentCSV)
                {
                    <li>@item</li>
                }
            </ol>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExperimentalPart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExperimentalPart)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        @if (Model.ModifiedOn != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>
        }
        @if (Model.IsDeleted)
        {
            <dt>
                @Html.DisplayNameFor(model => model.DeletedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeletedOn)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.IsApprovedByLeader)
        </dt>
        <dd>
            @if (Model.IsApprovedByLeader)
            {
                <span class="text-success" style="padding: 5px">Одобрена</span>
            }
            else
            {
                <span class="text-warning" style="padding: 5px">Не одобрена</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApprovedByHead)
        </dt>
        <dd>
            @if (Model.IsApprovedByHead)
            {
                <span class="text-success" style="padding: 5px">Одобрена</span>
            }
            else
            {
                <span class="text-warning" style="padding: 5px">Не одобрена</span>
            }
        </dd>

        <dt></dt>
        <dd>
            @if (this.TempData["DiplomaIsSelected"] == null)
            {
                <input type="submit" value="Избери" class="btn btn-primary" />
            }

            @Html.ActionLink("Обратно", "Diplomas", null, htmlAttributes: new { @class = "btn btn-default" })
        </dd>

    </dl>
}
@if (this.TempData["IsOwnDiploma"] != null)
{
    <h3>Въпроси и информация:</h3>
    <div class="row">
        <div class="col-lg-6">
            @foreach (var item in this.ViewBag.Messages)
            {
                <div class="row">
                    @if (item.SenderUserId == this.ViewBag.CurrentUserId)
                    {
                        <div class="col-lg-10 col-sm-offset-2 alert bg-info">
                            <div>Вие, @item.CreatedOn:</div>
                            <p>@item.MessageSend</p>
                        </div>
                    }
                    else {
                        <div class="col-lg-10 alert bg-grey">
                            <div>@item.SenderUser.FirstName, @item.CreatedOn:</div>
                            <p>@item.MessageSend</p>
                        </div>
                    }
                </div>
            }


            @using (Ajax.BeginForm("SendMessage", new { diplomaId = Model.Id, teacherId = Model.TeacherID }, new AjaxOptions { UpdateTargetId = "result" }))
            {
                @Html.AntiForgeryToken()
                @Html.TextArea("message", null, new { @class = "form-control", @required = "required", placeholder = "Съобщение", type = "text" })
                <input type="submit" value="Изпрати" class="btn btn-primary form-control" />
            }
        </div>
    </div>
}
