@model IEnumerable<DDS.Web.ViewModels.ManageDiplomas.CommonDiplomaViewModel>
@{
    ViewBag.Title = "Home Page";
}
<h1>Дипломи</h1>

<div class="container">

    @if (TempData["Message"] != null)
    {
        <div class="panel">
            <div class="panel-body">
                <div class="alert alert-info">
                    @TempData["Message"]
                </div>
            </div>
        </div>
    }


    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th class="col-md-8">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th class="col-md-4">
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Hidden("RedirectToDetails", Url.Action("Details", "Home", new { id = item.Id }))
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script type="text/javascript">
        window.onload = function () {
            $('.table > tbody > tr').on('click', function () {
                var url = $(this).find("#RedirectToDetails").val();
                location.href = url;
            });

            $('.alert').fadeIn('fast').delay(3000).fadeOut('slow');
        }
    </script>
}