@model IEnumerable<DDS.Web.ViewModels.Shared.TeacherViewModel>
@using DDS.Web.Helpers;
@{
    ViewBag.Title = "Teachers";
}

<h2>Преподаватели</h2>

@if (TempData["Message"] != null)
{
    <div class="row">
        @Html.Alert("", TempData["Message"].ToString(), AlertType.Info)
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeacherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.ScienceDegree + " " + item.TeacherName, "TeacherDetails", "Home", new { id = item.Id }, new { @class = "font-color-blue" })
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @foreach (var tag in item.Tags)
                {
                    @Html.ActionLink(tag.Name, "Tag", new { id = tag.Id, teacherId = item.Id }, new { @class = "btn btn-default" })<text> </text>
                }
            </td>
        </tr>
    }

</table>
