@model DDS.Web.ViewModels.Manage.IndexViewModel
@{
    ViewBag.Title = "Профил";
}
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Промяна на данните на потребителя.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Парола:</dt>
        <dd>
            [
            @(Model.HasPassword ? Html.ActionLink("Смени паролата си", "ChangePassword") : Html.ActionLink("Създай нова парола", "SetPassword"))
            ]
        </dd>
        @if (Model.IsStudent && Model.DiplomaId != 0)
        {
            <dt>Диплома:</dt>
            <dd>
                @Html.ActionLink("Детайли на избраната диплома", "Details", "Home", new { Id = Model.DiplomaId }, null)
            </dd>
        }
    </dl>


    @Html.ValidationSummary("", new { @class = "text-danger" })

    @using (Html.BeginForm("SaveInfo", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.DiplomaId)
        @Html.HiddenFor(model => model.HasPassword)
        @Html.HiddenFor(model => model.IsStudent)
        <dl class="dl-horizontal">
            @if (Model.IsStudent)
            {
                <dt>@Html.LabelFor(mode => mode.FNumber, htmlAttributes: new { @class = "control-label" })</dt>
                <dd>@Html.EditorFor(mode => mode.FNumber)</dd>
                <dt>@Html.LabelFor(mode => mode.Address, htmlAttributes: new { @class = "control-label" })</dt>
                <dd>@Html.EditorFor(mode => mode.Address)</dd>
            }

            <dt>@Html.LabelFor(mode => mode.PhoneNumber, htmlAttributes: new { @class = "control-label" })</dt>
            <dd>@Html.EditorFor(mode => mode.PhoneNumber)</dd>

            <dt>@Html.LabelFor(mode => mode.ScienceDegree, htmlAttributes: new { @class = "control-label" })</dt>
            <dd>@Html.EditorFor(mode => mode.ScienceDegree)</dd>

            <dt></dt>
            <dd><input type="submit" value="Запази" class="btn-sm btn-success" /></dd>
        </dl>
    }
</div>
