@model DDS.Web.Areas.Administration.ViewModels.UserViewModel

@{
    ViewBag.Title = "Редактиране на права";
}

@using (Html.BeginForm("Edit", "Administration", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Промяна на правата на потребителя.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group ">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "text-right col-md-2" })
            @Html.DisplayFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control col-lg-10" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "text-right col-lg-2" })
            @Html.DisplayFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control col-lg-10" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "text-right col-lg-2" })
            @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-lg-10" } })
        </div>

        <div class="form-group">
            @Html.Label("Права", new { @class = "control-label col-lg-2" })
            @Html.DropDownListFor(model => model.SelectedRole, Model.RolesList, new { @class = "form-control col-lg-2" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Запази" class="btn btn-success" />
                @Html.ActionLink("Обратно", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
<div>
</div>
