<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DDS</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ТУ - КСТ", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Начало", "Index", "Home", new { area = string.Empty }, null)</li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Администрация", "Index", "Administration", new { area = "Administration" }, null)</li>
                    }
                    @if (User.IsInRole("Teacher"))
                    {
                        <li>@Html.ActionLink("Мои дипломи", "Index", "ManageDiplomas", new { area = string.Empty }, null)</li>
                    }
                    <li>@Html.ActionLink("Дипломи", "Diplomas", "Home", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Преподаватели", "Teachers", "Home", new { area = string.Empty }, null)</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <nav id="da" class="row navbar-light bg-faded">
                @*@if (this.ViewBag["tags"] != null)
                    {
                        var tags = (List<DDS.Web.ViewModels.Shared.TagViewModel>)this.ViewBag["tags"];
                        foreach (var tag in tags)
                        {
                            <div class="col-sm-4">
                                @Html.ActionLink(tag.text, "Tag", "Home", new { area = string.Empty, tag.id }, null)
                            </div>
                        }
                    }*@
            </nav>
            <hr />
            <p>&copy; @DateTime.Now.Year - Дипломна разпределителна система</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/select2")
    @RenderSection("scripts", required: false)

    <script>
        var dbdata = '@Url.Action("GetAllTags", "Home", null)';

        $.getJSON(dbdata, { searchTerm: "", pageSize: 30, pageNumber: 1 }, function (data) {
            var result = data.Results;
            var ul = $('<ul>').addClass('class="list-unstyled"');
            for (var i in result) {
                var id = result[i].id;
                var text = result[i].text;

                var li = $('<li>').addClass("nav-item col-sm-2");

                var url = '@Html.ActionLink("link", "Tag", "Home", new { id = "idOfTag" }, null)';
                url = url.replace("link", text);
                url = url.replace("idOfTag", id);
                li.append(url);
                ul.append(li);
                $('#da').append(ul);
            }
        }, "json");

    </script>
</body>
</html>
