@model PagedList.IPagedList<DDS.Web.ViewModels.Shared.CommonDiplomaViewModel>
@using PagedList.Mvc;
@using DDS.Web.Helpers;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Менажиране на изтритите дипломи";
}

@if (TempData["NotFound"] != null && (bool)TempData["NotFound"] == true)
{
    <div class="row">
        @Html.Alert("", TempData["Message"].ToString(), AlertType.Warning)
    </div>
}

<div class="row">
    <div class="col-xs-6">
        @Html.ActionLink("Нова", "Create", null, htmlAttributes: new { @class = "btn btn-success" })
        @Html.ActionLink("Изтрий всички", "HardDeleteAll", null, htmlAttributes: new { @class = "btn btn-primary" })
        @Html.ActionLink("Обратно", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
    </div>
    @using (Html.BeginForm("Deleted", "ManageDiplomas", FormMethod.Get))
    {
        @Html.Partial("~/Views/Shared/_SearchBoxPartial.cshtml")
    }
</div>

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th class="">#</th>
            <th class="col-md-3">
                @Html.ActionLink("Заглавие", "Deleted", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th class="col-md-5">
                @Html.DisplayName("Описание")
            </th>
            <th class="col-md-2">
                @Html.ActionLink("Дата на добавяне", "Deleted", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
    <tbody>
        @{ int index = (Model.PageNumber - 1) * Model.PageSize;}
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @{index++;}
                    @index
                    @Html.Hidden("RedirectToDetails", Url.Action("Edit", "ManageDiplomas", new { id = item.Id }))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    <div class="btn-group-xs">
                        @Html.ActionLink("Върни", "Return", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                        <div class="btn btn-danger delete-confirm" data-delete-id="@item.Id">Изтрий?</div>
                    </div>
                </td>
            </tr>
                        }
    </tbody>
</table>
<br />
<div class="row">
    @Html.Partial("_Pager", Model, new ViewDataDictionary { { "ActionName", "Deleted" } })
</div>

@section scripts{
    <script type="text/javascript">
        window.onload = function () {
            $('.table > tbody > tr').on('click', function () {
                var url = $(this).find("#RedirectToDetails").val();
                location.href = url;
            });

        }

        $(function () {
            $("div.delete-confirm").click(function () {
                var confirmButton = $(this);
                $.post(
                    '@Url.Action("HardDelete")',
                    AddAntiForgeryToken({ id: confirmButton.attr('data-delete-id') }))
                   .done(function () {
                       var parentRow = confirmButton.parents("tr:first");
                       parentRow.fadeOut('fast', function () {
                           parentRow.remove();
                       });
                   }).fail(function (data) {
                       alert("error");
                   });
                return false;
            });

            AddAntiForgeryToken = function (data) {
                data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                return data;
            };
        });
    </script>
}