@*@model DDS.Data.Models.Diploma*@
@model DDS.Web.ViewModels.Shared.DisplayDiplomaViewModel

@{
    ViewBag.Title = "Детайли";
}

<h2>Детайли</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentCSV)
        </dt>
        <dd>
            <ol>
                @foreach (var item in Model.ContentCSV)
                {
                    <li>@item</li>
                }
            </ol>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExperimentalPart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExperimentalPart)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        @if (Model.IsDeleted)
        {
            <dt>
                @Html.DisplayNameFor(model => model.DeletedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeletedOn)
            </dd>
        }

        @if (Model.ApprovedByLeader)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ApprovedByLeader)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApprovedByLeader)
            </dd>
        }
        @if (Model.ApprovedByLeader)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ApprovedByHead)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApprovedByHead)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Back", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</p>