@model PagedList.IPagedList<DDS.Web.ViewModels.ManageDiplomas.CommonDiplomaViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Менажиране на дипломи";
}

@{if (TempData["Message"] != null)
    {
        <div class="panel">
            <div class="panel-body">
                <div class="alert alert-info">
                    @TempData["Message"]
                </div>
            </div>
        </div>
    }
}

<div class="row">
    <div class="col-xs-6">
        @Html.ActionLink("Нова", "Create", null, htmlAttributes: new { @class = "btn btn-success" })
        @Html.ActionLink("Кошче", "Deleted", null, htmlAttributes: new { @class = "btn btn-primary" })
    </div>
    @using (Html.BeginForm("Index", "ManageDiplomas", FormMethod.Get))
    {
        @Html.Partial("~/Views/Shared/_SearchBoxPartial.cshtml")
    }
</div>

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th class="">#</th>
            <th class="col-md-3">
                @Html.ActionLink("Заглавие", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th class="col-md-5">
                @Html.DisplayName("Описание")
            </th>
            <th class="col-md-2">
                @Html.ActionLink("Дата на добавяне", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
    <tbody>
        @{ int index = (Model.PageNumber - 1) * Model.PageSize;}
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @{index++;}
                    @index
                    @Html.Hidden("RedirectToDetails", Url.Action("Details", "ManageDiplomas", new { id = item.Id }))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    <div class="btn-group-xs">
                        @Html.ActionLink("Промени", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                        <a class="btn btn-warning delete-link" href="@Url.Action("Delete", new {id = item.Id})">Изтрий</a>
                        <div class="btn btn-danger delete-confirm" style="display:none" data-delete-id="@item.Id">Изтрий?</div>
                    </div>
                </td>
            </tr>
                        }
    </tbody>
</table>
<br />
<div class="row">
    @Html.Partial("_Pager", Model, new ViewDataDictionary { { "ActionName", "Index" } })
</div>

@section scripts{
    <script type="text/javascript">
        window.onload = function () {
            $('.table > tbody > tr').on('click', function () {
                var url = $(this).find("#RedirectToDetails").val();
                location.href = url;
            });

            $('.alert').fadeIn('fast').delay(3000).fadeOut('slow');
        }

        $(function () {
            $("a.delete-link").click(function () {
                var deleteLink = $(this);
                deleteLink.hide();
                var confirmButton = deleteLink.siblings(".delete-confirm");
                confirmButton.show();

                var cancelDelete = function () {
                    removeEvents();
                    showDeleteLink();
                };

                var deleteItem = function () {
                    removeEvents();
                    confirmButton.hide();
                    $.post(
                        '@Url.Action("Delete")',
                        AddAntiForgeryToken({ id: confirmButton.attr('data-delete-id') }))
                       .done(function () {
                           var parentRow = deleteLink.parents("tr:first");
                           parentRow.fadeOut('fast', function () {
                               parentRow.remove();
                           });
                       }).fail(function (data) {
                           alert("error");
                       });
                    return false;
                };

                var removeEvents = function () {
                    confirmButton.off("click", deleteItem);
                    $(document).on("click", cancelDelete);
                    $(document).off("keypress", onKeyPress);
                };

                var showDeleteLink = function () {
                    confirmButton.hide();
                    deleteLink.show();
                };

                var onKeyPress = function (e) {
                    //Cancel if escape key pressed
                    if (e.which == 27) {
                        cancelDelete();
                    }
                };

                confirmButton.on("click", deleteItem);
                $(document).on("click", cancelDelete);
                $(document).on("keypress", onKeyPress);

                return false;
            });

            AddAntiForgeryToken = function (data) {
                data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                return data;
            };
        });
    </script>
}
