@model DDS.Web.ViewModels.ManageDiplomas.StudentDiplomaViewModel

@{
    ViewBag.Title = "Детайли";
}

<h3>Детайли на дипломната работа</h3>

<div class="row">
    <div class="col-lg-4">
        @Html.DisplayFor(model => model.Student.ScienceDegree)  @Html.DisplayFor(model => model.Student.FirstName) @Html.DisplayFor(model => model.Student.MiddleName) @Html.DisplayFor(model => model.Student.LastName)
    </div>
    <div class="col-lg-4">
        @Html.DisplayFor(model => model.Student.PhoneNumber)
    </div>
    <div class="col-lg-4">
        @Html.DisplayFor(model => model.Student.Email)
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        @Html.DisplayFor(model => model.Diploma.Id)
    </div>
    <div class="col-lg-4">
        @Html.DisplayFor(model => model.Diploma.Title)
    </div>
    <div class="col-lg-4">
        @Html.DisplayFor(model => model.Diploma.Description)
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        @Html.DisplayFor(model => model.Diploma.TeacherID)
    </div>
    <div class="col-lg-4">
        @Html.DisplayFor(model => model.Diploma.TeacherName)
    </div>
</div>


<div class="row">
    <div class="col-lg-4">
        @Html.DisplayFor(model => model.Diploma.IsApprovedByLeader)
    </div>
    <div class="col-lg-4">
        @Html.DisplayFor(model => model.Diploma.IsApprovedByHead)
    </div>
    <div class="col-lg-4">
        @Html.DisplayFor(model => model.Diploma.IsSelectedByStudent)
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        @Html.DisplayFor(model => model.Diploma.CreatedOn)
    </div>
    <div class="col-lg-3">
        @Html.DisplayFor(model => model.Diploma.ModifiedOn)
    </div>
    <div class="col-lg-3">
        @Html.DisplayFor(model => model.Diploma.DeletedOn)
    </div>
    <div class="col-lg-3">
        @Html.DisplayFor(model => model.Diploma.IsDeleted)
    </div>
</div>

<div class="row">
    <ul>
        @foreach (var item in Model.Diploma.ContentCSV)
        {
            <li>@item</li>
        }
    </ul>
</div>

<div class="row">
    @foreach (var item in Model.Diploma.Tags)
    {
        @Html.ActionLink(@item.Text, "Tag", "Home", new { id = item.Value }, new { @class = "" }) 
    }
</div>

