@model PagedList.IPagedList<DDS.Web.ViewModels.Shared.CommonDiplomaViewModel>

@using DDS.Web.Helpers;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Менажиране на дипломи";
}

@if (TempData["Message"] != null)
{
    <div class="row">
        @Html.Alert("", this.TempData["Message"].ToString(), AlertType.Info)
    </div>
}
<br />
<br />
<br />

<div class="row">
    <div class="col-xs-6">
    </div>
    @using (Html.BeginForm("Index", "ManageDiplomas", FormMethod.Get))
    {
        @Html.Partial("~/Views/Shared/_SearchBoxPartial.cshtml")
    }
</div>

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th class="">#</th>
            <th class="col-md-5">
                @Html.ActionLink("Заглавие", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th class="col-md-5">
                @Html.DisplayName("Описание")
            </th>
            <th class="col-md-2">
                @Html.ActionLink("Дата на добавяне", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
        </tr>
    </thead>
    <tbody>
        @{ int index = (Model.PageNumber - 1) * Model.PageSize;}
        @foreach (var item in Model)
        {
            <tr class="@(item.IsApprovedByHead ? "bg-success" :
                            item.IsApprovedByLeader ? "bg-info" :
                                item.IsSelectedByStudent ? "bg-warning" :
                                    "")">
                <td class="">
                    @{index++;}
                    @index
                    @Html.Hidden("RedirectToDetails", Url.Action("Details", "ManageDiplomas", new { id = item.Id }))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
            </tr>
                        }
    </tbody>
</table>
<br />
<div class="row">
    @Html.Partial("_Pager", Model, new ViewDataDictionary { { "ActionName", "Index" } })
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-1">
                <div class="alert-warning well-sm"></div>
            </div>
            <div class="col-sm-3">
                <p>Избрана от студент</p>
            </div>
            <div class="col-sm-1">
                <div class="alert-info well-sm"></div>
            </div>
            <div class="col-sm-3">
                <p>Одобрена от ръководител</p>
            </div>
            <div class="col-sm-1">
                <div class="alert-success well-sm"></div>
            </div>
            <div class="col-sm-3">
                <p>Одобрена и подписана от декан</p>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        window.onload = function () {
            $('.table > tbody > tr').on('click', function () {
                var url = $(this).find("#RedirectToDetails").val();
                location.href = url;
            });

            $('.alert').fadeIn('fast').delay(3000).fadeOut('slow');
        }

        $(function () {
            $("a.delete-link").click(function () {
                var deleteLink = $(this);
                deleteLink.hide();
                var confirmButton = deleteLink.siblings(".delete-confirm");
                confirmButton.show();

                var cancelDelete = function () {
                    removeEvents();
                    showDeleteLink();
                };

                var deleteItem = function () {
                    removeEvents();
                    confirmButton.hide();
                    $.post(
                        '@Url.Action("Delete")',
                        AddAntiForgeryToken({ id: confirmButton.attr('data-delete-id') }))
                       .done(function () {
                           var parentRow = deleteLink.parents("tr:first");
                           parentRow.fadeOut('fast', function () {
                               parentRow.remove();
                           });
                       }).fail(function (data) {
                           alert("error");
                       });
                    return false;
                };

                var removeEvents = function () {
                    confirmButton.off("click", deleteItem);
                    $(document).on("click", cancelDelete);
                    $(document).off("keypress", onKeyPress);
                };

                var showDeleteLink = function () {
                    confirmButton.hide();
                    deleteLink.show();
                };

                var onKeyPress = function (e) {
                    //Cancel if escape key pressed
                    if (e.which == 27) {
                        cancelDelete();
                    }
                };

                confirmButton.on("click", deleteItem);
                $(document).on("click", cancelDelete);
                $(document).on("keypress", onKeyPress);

                return false;
            });

            AddAntiForgeryToken = function (data) {
                data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                return data;
            };
        });
    </script>
}
